!pip install beautifulsoup4 pandas

In [7]:

from bs4 import BeautifulSoup
import pandas as pd

html_doc = """
<html>
    <body>
        <h1>Hello, BeautifulSoup!</h1>
        <table border="1" >
  <tr>
    <th>Student</th>
    <th>Favorite Computer Language</th>  
    <th>Years of Experience</th>
  </tr>
  <tr>
    <td>Fred</td>
    <td>Kotlin</td>
    <td>4</td>
  </tr>
  <tr>
    <td>Paula</td>
    <td>Python</td>
    <td>2</td>
  </tr>
  <tr>
    <td>Ernst</td>
    <td>Java</td>
    <td>7</td>
  </tr>
  <tr>
    <td>Isabel</td>
    <td>C++</td>
    <td>3</td>
     </tr>
  <tr>
    <td>Tony</td>
    <td>Pearl</td>
    <td>7</td> 
  </tr>
  <tr>
    <td>Maria</td>
    <td>Cobol</td>
    <td>15</td>
    
</table>
    </body>
</html>
"""

soup = BeautifulSoup(html_doc, 'html.parser')    

table = soup.find('table')
print(table)

<table border="1">
<tr>
<th>Student</th>
<th>Favorite Computer Language</th>
<th>Years of Experience</th>
</tr>
<tr>
<td>Fred</td>
<td>Kotlin</td>
<td>4</td>
</tr>
<tr>
<td>Paula</td>
<td>Python</td>
<td>2</td>
</tr>
<tr>
<td>Ernst</td>
<td>Java</td>
<td>7</td>
</tr>
<tr>
<td>Isabel</td>
<td>C++</td>
<td>3</td>
</tr>
<tr>
<td>Tony</td>
<td>Pearl</td>
<td>7</td>
</tr>
<tr>
<td>Maria</td>
<td>Cobol</td>
<td>15</td>
</tr></table>

In [8]:
headers = table.find_all("th")
print(headers)

[<th>Student</th>, <th>Favorite Computer Language</th>, <th>Years of Experience</th>]

In [10]:
titles = []

for i in headers:
    title = i.text
    titles.append(title)
    
print(titles)

['Student', 'Favorite Computer Language', 'Years of Experience']

In [11]:
df2 = pd.DataFrame(columns=titles)
print(df2)

Empty DataFrame
Columns: [Student, Favorite Computer Language, Years of Experience]
Index: []

In [12]:
titles = []

for i in headers:
    title = i.text
    titles.append(title)
    
print(titles)

['Student', 'Favorite Computer Language', 'Years of Experience']

In [13]:
df= pd.DataFrame(columns=titles)
print(df)

Empty DataFrame
Columns: [Student, Favorite Computer Language, Years of Experience]
Index: []

In [15]:
rows = table.find_all("tr")
print(rows)

[<tr>
<th>Student</th>
<th>Favorite Computer Language</th>
<th>Years of Experience</th>
</tr>, <tr>
<td>Fred</td>
<td>Kotlin</td>
<td>4</td>
</tr>, <tr>
<td>Paula</td>
<td>Python</td>
<td>2</td>
</tr>, <tr>
<td>Ernst</td>
<td>Java</td>
<td>7</td>
</tr>, <tr>
<td>Isabel</td>
<td>C++</td>
<td>3</td>
</tr>, <tr>
<td>Tony</td>
<td>Pearl</td>
<td>7</td>
</tr>, <tr>
<td>Maria</td>
<td>Cobol</td>
<td>15</td>
</tr>]

In [18]:
for i in rows[1:7]:
    print(i)

<tr>
<td>Fred</td>
<td>Kotlin</td>
<td>4</td>
</tr>
<tr>
<td>Paula</td>
<td>Python</td>
<td>2</td>
</tr>
<tr>
<td>Ernst</td>
<td>Java</td>
<td>7</td>
</tr>
<tr>
<td>Isabel</td>
<td>C++</td>
<td>3</td>
</tr>
<tr>
<td>Tony</td>
<td>Pearl</td>
<td>7</td>
</tr>
<tr>
<td>Maria</td>
<td>Cobol</td>
<td>15</td>
</tr>

In [21]:
for i in rows[1:]:
    data = i.find_all("td")            
    row = [tr.text for tr in data]     
    l =len(df2)                        
    df2.loc[l]= row                     

# Inspect the dataset 
df2.head()

  Student Favorite Computer Language Years of Experience
0    Fred                     Kotlin                   4
1   Paula                     Python                   2
2   Ernst                       Java                   7
3  Isabel                        C++                   3
4    Tony                      Pearl                   7